    <!-- About Section -->
    <section id="about" class="container content-section text-left">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About Us</h2>
              <br/>
              As a tech company, Alan Integrations thrives at creating, particularly technologies that improve the efficiency of the person or team using them. Integration with existing systems is often necessary to produce these desired efficiencies. Following an iterative design process, Alan Integrations’ team will:
              <ul>
<li>Listen to user stories</li>
<li>Develop scenarios</li>
<li>Create concepts</li>
<li>Build prototypes</li>
<li>Ready for production</li>
<li>Deploy the solution</li>
</ul>
With this method, a usable product is created at the end of each iteration. A successful development iteration will result in new and improved capabilities that allow a person to work effectively while remaining extensible to track with their evolving work.


                <br/>
                <br/>
                <br/>
              </div>
        </div>
    </section>
